<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.madnow.facebook">

    <application>
        <!-- 禁用自动记录的事件-->
<!--        <meta-data android:name="com.facebook.sdk.AutoLogAppEventsEnabled" android:value="false"/>-->

        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>
    </application>

    <uses-permission android:name="android.permission.INTERNET"
        tools:ignore="ManifestOrder" />
</manifest>